[{:itonami.blueprint/social-impact [:farm-safety :rural-employment :equipment-uptime]
  :itonami.blueprint/domain :agriculture/mobile-plant-operations-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8341"
  :itonami.blueprint/name "Mobile Farm and Forestry Plant Operations Coordination"
  :itonami.blueprint/governor :farm-forestry-ops-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8341"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
